# 服务器绑定地址
bind: 127.0.0.1:18080
# 基础域名
domain: example.com
# 持久化存储
database:
  # 持久化存储配置
  url: "memory://"
auth:
  type: gitea
  server: https://gitea.com
  # 需要 user , org , repo 的 read 权限
  token: token
cache:
  # 元数据缓存
  meta: "memory://"
  # 元数据缓存时长
  meta_ttl: 1m
  # 响应数据缓存
  blob: "memory://"
  # 响应数据缓存时长
  blob_ttl: 1m
  # 最大单个响应数据缓存大小
  blob_limit: 10MB
page:
  # 默认页面分支
  default_branch: gh-pages
  # 默认 404 页面模板
  404: /path/to/html.gotmpl
  # 默认 500 页面模板
  500: /path/to/html.gotmpl

# 渲染器配置
render:
  enable: false
# 反向代理配置
proxy:
  enable: false
# 静态资源路径,可供任意网站使用 /.well-known/page-server/ 路径拉取文件
static: /path/to/dir/